In [1]:
import pandas as pd
df_mined = pd.read_csv('../Data/address_data_e.csv')
print(df_mined.shape)
print(df_mined.head())

(4339, 24)
                                      Address  FLAG  Avg min between sent tnx  \
0  0x87d884aaa6ff9e9b6014631b0abae80b53953fb8     1               5151.676667
1  0xd42393df90d582bd8a5493171f0173e3a017d391     1               1179.016667
2  0x3025c36d8a9620d3df89e9e9b1acbdfd639a6f37     1                361.733333
3  0x6309f709faad518fc158af4c14edfa7b06424770     1                  0.000000
4  0x3d020954e30c3d40b7f0c533cf198bc10dd45a49     1              14280.600000

   Avg min between received tnx  Time Diff between first and last (Mins)  \
0                  15159.077780                             71235.616670
1                   1124.888889                             25126.450000
2                      0.000000                               723.466667
3                      0.000000                                 0.000000
4                   1479.855556                             45357.566670

   Sent tnx  Received Tnx  Number of Created Contracts  \
0         5             3                            0
1         7            15                            0
2         2             1                            0
3         0             0                            0
4         1            21                            0

   Unique Received From Addresses  Unique Sent To Addresses  ...  \
0                               1                         1  ...
1                              13                         6  ...
2                               1                         2  ...
3                               0                         0  ...
4                              21                         1  ...

   max val sent  avg val sent  min value sent to contract  \
0      0.000000      0.000000                         NaN
1      1.350000      0.419270                         NaN
2      2.509076      2.499538                         NaN
3      0.000000      0.000000                         0.0
4      2.084658      2.084658                         NaN

   max val sent to contract  avg value sent to contract  \
0                       NaN                         NaN
1                       NaN                         NaN
2                       NaN                         NaN
3                       0.0                         0.0
4                       NaN                         NaN

   total transactions (including tnx to create contract  total Ether sent  \
0                                                  8             0.000000
1                                                 22             2.934889
2                                                  3             4.999076
3                                                  0             0.000000
4                                                 22             2.084658

   total ether received  total ether sent contracts  total ether balance
0              0.040100                         0.0             0.040100
1              2.650000                         0.0            -0.284889
2              4.999916                         0.0             0.000840
3              0.000000                         0.0             0.000000
4              2.085000                         0.0             0.000342

[5 rows x 24 columns]

In [4]:
df_kaggle = pd.read_csv('../Data/address_data_k.csv')
df_kaggle.drop(['Index','Unnamed: 0'], axis=1, inplace=True)

In [5]:
erc_columns = [' Total ERC20 tnxs', ' ERC20 total Ether received',
       ' ERC20 total ether sent', ' ERC20 total Ether sent contract',
       ' ERC20 uniq sent addr', ' ERC20 uniq rec addr',
       ' ERC20 uniq sent addr.1', ' ERC20 uniq rec contract addr',
       ' ERC20 avg time between sent tnx', ' ERC20 avg time between rec tnx',
       ' ERC20 avg time between rec 2 tnx',
       ' ERC20 avg time between contract tnx', ' ERC20 min val rec',
       ' ERC20 max val rec', ' ERC20 avg val rec', ' ERC20 min val sent',
       ' ERC20 max val sent', ' ERC20 avg val sent',
       ' ERC20 min val sent contract', ' ERC20 max val sent contract',
       ' ERC20 avg val sent contract', ' ERC20 uniq sent token name',
       ' ERC20 uniq rec token name', ' ERC20 most sent token type',
       ' ERC20_most_rec_token_type']
df_kaggle.drop(erc_columns,axis=1,inplace=True)
df_kaggle.head()

,Address,FLAG,Avg min between sent tnx,Avg min between received tnx,Time Diff between first and last (Mins),Sent tnx,Received Tnx,Number of Created Contracts,Unique Received From Addresses,Unique Sent To Addresses,...,max val sent,avg val sent,min value sent to contract,max val sent to contract,avg value sent to contract,total transactions (including tnx to create contract,total Ether sent,total ether received,total ether sent contracts,total ether balance
0,0x00009277775ac7d0d59eaad8fee3d10ac6c805e8,0,844.26,1093.71,704785.63,721,89,0,40,118,...,31.220000,1.200681,0.0,0.0,0.0,810,865.691093,586.466675,0.0,-279.224419
1,0x0002b44ddb1476db43c868bd494422ee4c136fed,0,12709.07,2958.44,1218216.73,94,8,0,5,14,...,1.800000,0.032844,0.0,0.0,0.0,102,3.087297,3.085478,0.0,-0.001819
2,0x0002bda54cb772d040f779e88eb453cac0daa244,0,246194.54,2434.02,516729.30,2,10,0,10,2,...,3.538616,1.794308,0.0,0.0,0.0,12,3.588616,3.589057,0.0,0.000441
3,0x00038e6ba2fd5c09aedb96697c8d7b8fa6632e5e,0,10219.60,15785.09,397555.90,25,9,0,7,13,...,450.000000,70.001834,0.0,0.0,0.0,34,1750.045862,895.399559,0.0,-854.646303
4,0x00062d1dd1afb6fb02540ddad9cdebfe568e0d89,0,36.61,10707.77,382472.42,4598,20,1,7,19,...,9.000000,0.022688,0.0,0.0,0.0,4619,104.318883,53.421897,0.0,-50.896986

In [6]:
df_mined.loc[:,['Avg min between sent tnx', 'Avg min between received tnx',
       'Time Diff between first and last (Mins)']] = df_mined.loc[:,['Avg min between sent tnx', 'Avg min between received tnx',
       'Time Diff between first and last (Mins)']].round(2)

In [11]:
print(df_mined.head())
print(df_mined.shape)

                                      Address  FLAG  Avg min between sent tnx  \
0  0x87d884aaa6ff9e9b6014631b0abae80b53953fb8     1                   5151.68
1  0xd42393df90d582bd8a5493171f0173e3a017d391     1                   1179.02
2  0x3025c36d8a9620d3df89e9e9b1acbdfd639a6f37     1                    361.73
3  0x6309f709faad518fc158af4c14edfa7b06424770     1                      0.00
4  0x3d020954e30c3d40b7f0c533cf198bc10dd45a49     1                  14280.60

   Avg min between received tnx  Time Diff between first and last (Mins)  \
0                      15159.08                                 71235.62
1                       1124.89                                 25126.45
2                          0.00                                   723.47
3                          0.00                                     0.00
4                       1479.86                                 45357.57

   Sent tnx  Received Tnx  Number of Created Contracts  \
0         5             3                            0
1         7            15                            0
2         2             1                            0
3         0             0                            0
4         1            21                            0

   Unique Received From Addresses  Unique Sent To Addresses  ...  \
0                               1                         1  ...
1                              13                         6  ...
2                               1                         2  ...
3                               0                         0  ...
4                              21                         1  ...

   max val sent  avg val sent  min value sent to contract  \
0      0.000000      0.000000                         NaN
1      1.350000      0.419270                         NaN
2      2.509076      2.499538                         NaN
3      0.000000      0.000000                         0.0
4      2.084658      2.084658                         NaN

   max val sent to contract  avg value sent to contract  \
0                       NaN                         NaN
1                       NaN                         NaN
2                       NaN                         NaN
3                       0.0                         0.0
4                       NaN                         NaN

   total transactions (including tnx to create contract  total Ether sent  \
0                                                  8             0.000000
1                                                 22             2.934889
2                                                  3             4.999076
3                                                  0             0.000000
4                                                 22             2.084658

   total ether received  total ether sent contracts  total ether balance
0              0.040100                         0.0             0.040100
1              2.650000                         0.0            -0.284889
2              4.999916                         0.0             0.000840
3              0.000000                         0.0             0.000000
4              2.085000                         0.0             0.000342

[5 rows x 24 columns]
(4339, 24)

In [12]:
print(df_kaggle.head())
print(df_kaggle.shape)

                                      Address  FLAG  Avg min between sent tnx  \
0  0x00009277775ac7d0d59eaad8fee3d10ac6c805e8     0                    844.26
1  0x0002b44ddb1476db43c868bd494422ee4c136fed     0                  12709.07
2  0x0002bda54cb772d040f779e88eb453cac0daa244     0                 246194.54
3  0x00038e6ba2fd5c09aedb96697c8d7b8fa6632e5e     0                  10219.60
4  0x00062d1dd1afb6fb02540ddad9cdebfe568e0d89     0                     36.61

   Avg min between received tnx  Time Diff between first and last (Mins)  \
0                       1093.71                                704785.63
1                       2958.44                               1218216.73
2                       2434.02                                516729.30
3                      15785.09                                397555.90
4                      10707.77                                382472.42

   Sent tnx  Received Tnx  Number of Created Contracts  \
0       721            89                            0
1        94             8                            0
2         2            10                            0
3        25             9                            0
4      4598            20                            1

   Unique Received From Addresses  Unique Sent To Addresses  ...  \
0                              40                       118  ...
1                               5                        14  ...
2                              10                         2  ...
3                               7                        13  ...
4                               7                        19  ...

   max val sent  avg val sent  min value sent to contract  \
0     31.220000      1.200681                         0.0
1      1.800000      0.032844                         0.0
2      3.538616      1.794308                         0.0
3    450.000000     70.001834                         0.0
4      9.000000      0.022688                         0.0

   max val sent to contract  avg value sent to contract  \
0                       0.0                         0.0
1                       0.0                         0.0
2                       0.0                         0.0
3                       0.0                         0.0
4                       0.0                         0.0

   total transactions (including tnx to create contract  total Ether sent  \
0                                                810           865.691093
1                                                102             3.087297
2                                                 12             3.588616
3                                                 34          1750.045862
4                                               4619           104.318883

   total ether received  total ether sent contracts  total ether balance
0            586.466675                         0.0          -279.224419
1              3.085478                         0.0            -0.001819
2              3.589057                         0.0             0.000441
3            895.399559                         0.0          -854.646303
4             53.421897                         0.0           -50.896986

[5 rows x 24 columns]
(9841, 24)

In [21]:
dfmerged = pd.merge(df_mined,df_kaggle,how='outer')
print(dfmerged.shape)
dfmerged.head()

(14180, 24)

,Address,FLAG,Avg min between sent tnx,Avg min between received tnx,Time Diff between first and last (Mins),Sent tnx,Received Tnx,Number of Created Contracts,Unique Received From Addresses,Unique Sent To Addresses,...,max val sent,avg val sent,min value sent to contract,max val sent to contract,avg value sent to contract,total transactions (including tnx to create contract,total Ether sent,total ether received,total ether sent contracts,total ether balance
0,0x87d884aaa6ff9e9b6014631b0abae80b53953fb8,1,5151.68,15159.08,71235.62,5,3,0,1,1,...,0.000000,0.000000,NaN,NaN,NaN,8,0.000000,0.040100,0.0,0.040100
1,0xd42393df90d582bd8a5493171f0173e3a017d391,1,1179.02,1124.89,25126.45,7,15,0,13,6,...,1.350000,0.419270,NaN,NaN,NaN,22,2.934889,2.650000,0.0,-0.284889
2,0x3025c36d8a9620d3df89e9e9b1acbdfd639a6f37,1,361.73,0.00,723.47,2,1,0,1,2,...,2.509076,2.499538,NaN,NaN,NaN,3,4.999076,4.999916,0.0,0.000840
3,0x6309f709faad518fc158af4c14edfa7b06424770,1,0.00,0.00,0.00,0,0,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0,0.000000,0.000000,0.0,0.000000
4,0x3d020954e30c3d40b7f0c533cf198bc10dd45a49,1,14280.60,1479.86,45357.57,1,21,0,21,1,...,2.084658,2.084658,NaN,NaN,NaN,22,2.084658,2.085000,0.0,0.000342

In [22]:
cols_to_drop = ['total ether sent contracts', 'max val sent to contract', 'Received Tnx', 'Sent tnx', 'total Ether sent', 'min value sent to contract','avg value sent to contract', 'Number of Created Contracts', 'max val sent', 'Unique Sent To Addresses']

In [23]:
# dfmerged.drop(erc_columns, axis=1, inplace=True)
dfmerged.drop(cols_to_drop, axis=1, inplace=True)
print(dfmerged.shape)
dfmerged.head()

(14180, 14)

,Address,FLAG,Avg min between sent tnx,Avg min between received tnx,Time Diff between first and last (Mins),Unique Received From Addresses,min value received,max value received,avg val received,min val sent,avg val sent,total transactions (including tnx to create contract,total ether received,total ether balance
0,0x87d884aaa6ff9e9b6014631b0abae80b53953fb8,1,5151.68,15159.08,71235.62,1,0.010000,0.020000,0.013367,0.000000,0.000000,8,0.040100,0.040100
1,0xd42393df90d582bd8a5493171f0173e3a017d391,1,1179.02,1124.89,25126.45,13,0.000000,0.750000,0.176667,0.145000,0.419270,22,2.650000,-0.284889
2,0x3025c36d8a9620d3df89e9e9b1acbdfd639a6f37,1,361.73,0.00,723.47,1,4.999916,4.999916,4.999916,2.490000,2.499538,3,4.999916,0.000840
3,0x6309f709faad518fc158af4c14edfa7b06424770,1,0.00,0.00,0.00,0,0.000000,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000
4,0x3d020954e30c3d40b7f0c533cf198bc10dd45a49,1,14280.60,1479.86,45357.57,21,0.035000,0.200000,0.099286,2.084658,2.084658,22,2.085000,0.000342

In [24]:
dfmerged.to_csv('../Data/address_data_combined.csv', index=False)

In [27]:
dfmerged['Address'].nunique()

14155